    .head {
        color: white;
        text-shadow: yellowgreen;
    }
    
    .fullscreen {
        background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-fashion-simple-small-fresh-background-promotion-main-map-image_157142.jpg');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 800px;
    }
    
    .head {
        animation: mymove 8s infinite;
        color: crimson;
    }
    
    @keyframes mymove {
        100% {
            text-shadow: 0 0 0.3em rgb(252, 98, 193), 0 0 0.3em rgb(240, 144, 227)
        }
        /*border-radius: 10px;
    width: 50%;
    background-color: rgb(251, 252, 185);
    height: 50px;
    border: 3px solid #f5f826;
    color: teal;*/
    }
    
    .btn {
        width: 40%;
    }
    
    .btnewform {
        background-color: rgb(215, 250, 250);
        color: rgb(15, 10, 10);
        border: 3px solid #1848e6;
        animation: mymove 8s infinite;
        font-weight: bold;
    }
    
    @keyframes mymove {
        100% {
            text-shadow: 0 0 0.3em rgb(90, 235, 235), 0 0 0.3em rgb(28, 228, 228)
        }
    }
    
    .btback {
        background-color: rgb(216, 218, 218);
        color: rgb(15, 10, 10);
        border: 3px solid #212224;
        animation: mymove 8s infinite;
        font-weight: bold;
    }
    
    @keyframes mymove {
        100% {
            text-shadow: 0 0 0.3em rgb(248, 93, 202), 0 0 0.3em rgb(248, 164, 223)
        }
    }
    
    .newform {
        padding-left: 40%;
    }
    
    .back {
        padding-left: 40%;
    }
    
    .bgtable {
        background-color: rgb(250, 176, 225);
    }
    
    .allform {
        background-color: white;
        border-radius: 20px;
        opacity: 0.8;
        border: 3px solid #0b806c;
    }