

.form-control{
  box-shadow: none;
  background-color: rgb(252, 252, 255);
  border-radius: 0px;
  border-color: rgb(230, 47, 47);
  border-style: none none solid none;
  width: 100%;
  transition: all .5s;
 
}
.form-group>label{
  text-shadow: 0 0 0.2em rgb(236, 10, 10), 0 0 0.2em rgb(241, 49, 177);
  
}

.form-control:focus{
 
  border-color: var(--font-hover-color);
  outline: none;
}
.form-control:invalid{
  border-color: red;
}
.form-group:focus-within{
   transform: scale(1.1,1.1);
}
.form-group{
  text-align: left;
}
#bg {

  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width:100%;
  height:2000px;
  opacity:0.2;
}
input[type="radio"] {
  display:none;
  
}

input[type="radio"] + label {
  color:#0c0a0a;
  /*text-shadow: 0 0 0.2em rgb(252, 249, 82), 0 0 0.2em #F87*/
  
}

input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}
.button{
width: 100px;
height: 50px;
font-size: 15px;
border-radius: 20px;
background-color: #7bfd77;
color: #200317;
border: 5px #10a10a;
border-style: outset;
display: flex;
justify-content: center;
align-items: center;

}

.button:hover{
background-color: rgb(90, 230, 86);
box-shadow: 0 0 25  rgb(223, 33, 160) ;
color: #0c0a0a;
}

.button1{
width: 100px;
height: 50px;
font-size: 15px;
border-radius: 20px;
background-color: #f58888;
color: #000000;
border: 5px  #f11919;
border-style: outset;
display: flex;
justify-content: center;
align-items: center;
}

.button1:hover{
background-color: rgb(248, 229, 59);
box-shadow: 0 0 25  rgb(247, 39, 39) ;
color: #0c0a0a;
}

.button2{
width: 75px;
height: 50px;
font-size: 15px;
border-radius: 20px;
background-color:  #695eff;;
color: #000000;
border: 5px #150d85;
border-style: outset;
display: flex;
justify-content: center;
align-items: center;
}

.button2:hover{
background-color: rgb(59, 149, 252);
box-shadow: 0 0 25em rgb(169, 245, 245) ;
color: #0c0a0a;
}


p.head1{
text-shadow: 0 0 0.2em rgb(238, 30, 238), 0 0 0.2em rgb(26, 219, 233)
}


div.logo{
  padding: 2px;
}

.screen{
  background-image:url("https://png.pngtree.com/png-vector/20191027/ourlarge/pngtree-cute-nature-landscape-vector-illustration-suitable-for-kids-background-png-image_1853289.jpg")  ;
  background-repeat: no-repeat;
  background-size: cover;
}
.pad{
padding-left: 5%;
padding-right: 5%;
}
.reason{
width: 100%;
}


.blinktext{
animation: mymove 5s infinite;
}
@keyframes mymove{
80% {
  text-shadow: 0 0 0.2em rgb(28, 243, 39), 0 0 0.2em rgb(30, 139, 8)
}
}
